header{
    
    background-color:burlywood;
    position:fixed;
    height:50px;
    width:74%;
    font-family: 'IM Fell English SC', serif;
   
   
    
} 
   a:link{
       text-decoration: none;
   }
.one{
    text-transform:uppercase;
}

nav li{
    display:inline;
    text-decoration: none;
    font-size:20px;
    line-height: 2.5;

   

}
.primary_grid_12{
    margin-top:20px;
}
h1{
    text-transform: uppercase;
    text-emphasis-color: brown;
   
}

.primary_grid_12
{
    text-align: justify;
   
    font-family: 'Arvo', serif;
}
.secondary_grid_12 
{
    text-align: justify;
   
    font-family: 'Arvo', serif;
   
   
   }
   
li a:hover {
    background-color:hotpink;}




footer{
    background-color: burlywood;
  text-align:center;

    
}
.copyright{
    text-align:left;

}

footer li
{
    display:inline;
  
}